* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, lightblue, #1a75ff, black);
}
#_canvas {
  width: 800px;
  height: 500px;
  border: 5px solid black;
  background: linear-gradient(to bottom, lightblue, blue, black);
}
